/* button */
.button {
  display: flex;
  gap: 0.35rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  font-size: 1em;
  font-weight: 500;
  padding: 0.625rem 1rem;
  cursor: pointer;
  width: 100%;
  /* text-transform: capitalize; */
  /* filter: drop-shadow(var(--drop-shadow-sm)); */
}

.button--sm {
  font-size: 0.875em;
  padding: 0.5rem 0.75rem;
}

.button--lg {
  font-size: 1.125em;
  padding: 0.875rem 1.5rem;
}

/* button default */

.button--default {
  background-color: var(--secondary-light);
  color: var(--text);
}

.button--default:hover {
  background-color: var(--secondary);
}

.button--default:active {
  background-color: var(--secondary-dark);
}

.button--default:focus {
  outline: 3px solid var(--info);
  outline-offset: 1px;
}

.button--default:disabled {
  opacity: 0.6;
  cursor: default;
  background-color: var(--background-darker);
}

/* button primary */

.button--primary {
  background-color: var(--primary);
  color: var(--saturated-white);
}

.button--primary:hover {
  background-color: var(--primary-dark);
}

.button--primary:active {
  background-color: var(--primary-darker);
}

.button--primary:focus {
  outline: 0.1875rem solid var(--info);
  outline-offset: 1px;
}

.button--primary:disabled {
  opacity: 0.6;
  cursor: default;
  background-color: var(--primary);
}

/* button primary lighter */

.button--primary-lighter {
  background-color: var(--primary-lighter);
  color: var(--text);
}

.button--primary-lighter:hover {
  background-color: var(--primary-light);
}

.button--primary-lighter:active {
  background-color: var(--primary);
}

.button--primary-lighter:focus {
  outline: 3px solid var(--info);
  outline-offset: 1px;
}

.button--primary-lighter:disabled {
  opacity: 0.6;
  cursor: default;
  background-color: var(--primary-lighter);
}

/* button secondary */

.button--secondary {
  background-color: var(--secondary);
  color: var(--saturated-white);
}

.button--secondary:hover {
  background-color: var(--secondary-dark);
}

.button--secondary:active {
  background-color: var(--secondary-darker);
}

.button--secondary:focus {
  outline: 3px solid var(--info);
  outline-offset: 1px;
}

.button--secondary:disabled {
  opacity: 0.6;
  cursor: default;
  background-color: var(--secondary);
}
