:root {
  --primary-100: #feebf1;
  --primary-200: #fabbd0;
  --primary-300: #f490b1;
  --primary-400: #e76a94;
  --primary-500: #d44a78;
  --primary-600: #b23861;
  --secondary-100: #a8a8a8;
  --secondary-200: #8f8f8f;
  --secondary-300: #757575;
  --secondary-400: #5c5c5c;
  --secondary-500: #424242;
  --secondary-600: #292929;
  --error-100: #ea6c83;
  --error-200: #e54865;
  --error-300: #e02447;
  --error-400: #c51c3b;
  --error-500: #a11730;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-dark-mode-50: #18191a;
  --gray-dark-mode-100: #1f2022;
  --gray-dark-mode-200: #2b2d30;
  --gray-dark-mode-300: #3e4146;
  --gray-dark-mode-400: #646a73;
  --gray-dark-mode-500: #949ca8;
  --gray-dark-mode-600: #bdc3cc;
  --gray-dark-mode-700: #d6d9df;
  --gray-dark-mode-800: #e8e9ed;
  --gray-dark-mode-900: #f0f1f3;

  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;
  --pink-dark-mode-50: #1f0a11;
  --pink-dark-mode-100: #3e1423;
  --pink-dark-mode-200: #5d1e34;
  --pink-dark-mode-300: #7c2846;
  --pink-dark-mode-400: #9b3257;
  --pink-dark-mode-500: #ba3c69;
  --pink-dark-mode-600: #d9477b;
  --pink-dark-mode-700: #f6518d;
  --pink-dark-mode-800: #ff6da2;
  --pink-dark-mode-900: #ff87b6;

  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e1e1e0;
  --stone-300: #cccccc;
  --stone-400: #b8b8b7;
  --stone-500: #a4a4a3;
  --stone-600: #90908f;
  --stone-700: #393939;
  --stone-800: #282828;
  --stone-900: #171716;
  --stone-dark-mode-50: #131312;
  --stone-dark-mode-100: #262524;
  --stone-dark-mode-200: #393837;
  --stone-dark-mode-300: #4d4c4a;
  --stone-dark-mode-400: #60605d;
  --stone-dark-mode-500: #737370;
  --stone-dark-mode-600: #868683;
  --stone-dark-mode-700: #999997;
  --stone-dark-mode-800: #acaca9;
  --stone-dark-mode-900: #bfbfbe;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-dark-mode-50: #1f0a0a;
  --red-dark-mode-100: #3e1414;
  --red-dark-mode-200: #5d1e1e;
  --red-dark-mode-300: #7c2828;
  --red-dark-mode-400: #9b3232;
  --red-dark-mode-500: #ba3c3c;
  --red-dark-mode-600: #d94646;
  --red-dark-mode-700: #f65151;
  --red-dark-mode-800: #ff6c6c;
  --red-dark-mode-900: #ff8787;

  --yellow-50: #fffbeb;
  --yellow-100: #fef3c7;
  --yellow-200: #fde68a;
  --yellow-300: #fcd34d;
  --yellow-400: #fbbf24;
  --yellow-500: #f59e0b;
  --yellow-600: #d97706;
  --yellow-700: #b45309;
  --yellow-800: #92400e;
  --yellow-900: #78350f;
  --yellow-dark-mode-50: #1f1a11;
  --yellow-dark-mode-100: #3e3623;
  --yellow-dark-mode-200: #5d512f;
  --yellow-dark-mode-300: #7c6d3b;
  --yellow-dark-mode-400: #9b8947;
  --yellow-dark-mode-500: #baa553;
  --yellow-dark-mode-600: #d9c15f;
  --yellow-dark-mode-700: #f8dd6b;
  --yellow-dark-mode-800: #ffea77;
  --yellow-dark-mode-900: #ffe784;

  --orange-50: #fff8f3;
  --orange-100: #ffece0;
  --orange-200: #ffd3b3;
  --orange-300: #ffb986;
  --orange-400: #ffa259;
  --orange-500: #f97316;
  --orange-600: #e76811;
  --orange-700: #8e3c0a;
  --orange-800: #682e07;
  --orange-900: #421f04;
  --orange-dark-mode-50: #22140a;
  --orange-dark-mode-100: #4b290f;
  --orange-dark-mode-200: #74430f;
  --orange-dark-mode-300: #9d5e0f;
  --orange-dark-mode-400: #c6780f;
  --orange-dark-mode-500: #ea8511;
  --orange-dark-mode-600: #ff9e1e;
  --orange-dark-mode-700: #ffa931;
  --orange-dark-mode-800: #ffb444;
  --orange-dark-mode-900: #ffcb57;

  --teal-50: #f0fdfa;
  --teal-100: #ccf8f4;
  --teal-200: #99edea;
  --teal-300: #66e3df;
  --teal-400: #33d8d5;
  --teal-500: #14b8a6;
  --teal-600: #119d8c;
  --teal-700: #0c6b5f;
  --teal-800: #084b43;
  --teal-900: #052c28;
  --teal-dark-mode-50: #041c1e;
  --teal-dark-mode-100: #08373a;
  --teal-dark-mode-200: #0c5357;
  --teal-dark-mode-300: #107f81;
  --teal-dark-mode-400: #14aaaa;
  --teal-dark-mode-500: #1ad6d5;
  --teal-dark-mode-600: #33e0dd;
  --teal-dark-mode-700: #4ceae7;
  --teal-dark-mode-800: #66f4f1;
  --teal-dark-mode-900: #7ffeff;

  --cyan-50: #f0fdfe;
  --cyan-100: #ccf9fc;
  --cyan-200: #99f5fa;
  --cyan-300: #66f2f8;
  --cyan-400: #33eff6;
  --cyan-500: #06b6d4;
  --cyan-600: #05a2c1;
  --cyan-700: #03879e;
  --cyan-800: #02687a;
  --cyan-900: #014b56;
  --cyan-dark-mode-50: #04161a;
  --cyan-dark-mode-100: #082c34;
  --cyan-dark-mode-200: #0c424e;
  --cyan-dark-mode-300: #106066;
  --cyan-dark-mode-400: #14767f;
  --cyan-dark-mode-500: #189b99;
  --cyan-dark-mode-600: #1cada8;
  --cyan-dark-mode-700: #20c0b7;
  --cyan-dark-mode-800: #24d2c6;
  --cyan-dark-mode-900: #28e5d5;

  --light-blue-50: #f2faff;
  --light-blue-100: #d9f5ff;
  --light-blue-200: #b0ebff;
  --light-blue-300: #87e1ff;
  --light-blue-400: #5ed7ff;
  --light-blue-500: #0ea5e9;
  --light-blue-600: #0c8ecf;
  --light-blue-700: #0a78b5;
  --light-blue-800: #086198;
  --light-blue-900: #064b7c;
  --light-blue-dark-mode-50: #0a1522;
  --light-blue-dark-mode-100: #0f294b;
  --light-blue-dark-mode-200: #0f4374;
  --light-blue-dark-mode-300: #0f5e9d;
  --light-blue-dark-mode-400: #0f78c6;
  --light-blue-dark-mode-500: #1185ea;
  --light-blue-dark-mode-600: #1e9eff;
  --light-blue-dark-mode-700: #31a9ff;
  --light-blue-dark-mode-800: #44b4ff;
  --light-blue-dark-mode-900: #57cbff;

  /* --green-50: #f5fcf8;
  --green-100: #e4faed;
  --green-200: #ccfae1;
  --green-300: #90e9b9;
  --green-400: #77e297;
  --green-500: #10b981;
  --green-600: #3a824d;
  --green-700: #2a5f38;
  --green-800: #1b3c23;
  --green-900: #09201b; */

  --green-50: #ecfdf5;
  --green-100: #d1fae5;
  --green-200: #a7f3d0;
  --green-300: #6ee7b7;
  --green-400: #34d399;
  --green-500: #10b981;
  --green-600: #059669;
  --green-700: #047857;
  --green-800: #065f46;
  --green-900: #064e3b;
  --green-dark-mode-50: #0a1d14;
  --green-dark-mode-100: #0f3929;
  --green-dark-mode-200: #0f5e43;
  --green-dark-mode-300: #0f806e;
  --green-dark-mode-400: #11a034;
  --green-dark-mode-500: #11c710;
  --green-dark-mode-600: #1ed505;
  --green-dark-mode-700: #31e504;
  --green-dark-mode-800: #46f606;
  --green-dark-mode-900: #5bff64;

  /* --green-dark-mode-50: #0e1811;
  --green-dark-mode-100: #1c3022;
  --green-dark-mode-200: #2a482f;
  --green-dark-mode-300: #386f3d;
  --green-dark-mode-400: #46884b;
  --green-dark-mode-500: #54a159;
  --green-dark-mode-600: #62b066;
  --green-dark-mode-700: #70c772;
  --green-dark-mode-800: #7edd7f;
  --green-dark-mode-900: #8cf48d; */

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-dark-mode-50: #0a1522;
  --blue-dark-mode-100: #0f294b;
  --blue-dark-mode-200: #0f4374;
  --blue-dark-mode-300: #0f5e9d;
  --blue-dark-mode-400: #0f78c6;
  --blue-dark-mode-500: #1185ea;
  --blue-dark-mode-600: #1e9eff;
  --blue-dark-mode-700: #31a9ff;
  --blue-dark-mode-800: #44b4ff;
  --blue-dark-mode-900: #57cbff;

  --black: #0f0f0f;
  --black-secondary: #606060;
  --white: #f1f1f1;
  --white-secondary: #aaaaaa;
  --saturated-black: #000000;
  --saturated-white: #ffffff;

  --primary-lighter: var(--pink-100);
  --primary-light: var(--pink-300);
  --primary: var(--pink-600);
  --primary-dark: var(--pink-700);
  --primary-darker: var(--pink-900);
  --primary-lighter-dark-mode: var(--pink-dark-mode-100);
  --primary-light-dark-mode: var(--pink-dark-mode-300);
  --primary-dark-mode: var(--pink-dark-mode-600);
  --primary-dark-dark-mode: var(--pink-dark-mode-700);
  --primary-darker-dark-mode: var(--pink-dark-mode-900);

  --secondary-lighter: var(--stone-100);
  --secondary-light: var(--stone-300);
  --secondary: var(--stone-500);
  --secondary-dark: var(--stone-700);
  --secondary-darker: var(--stone-900);
  --secondary-lighter-dark-mode: var(--stone-dark-mode-100);
  --secondary-light-dark-mode: var(--stone-dark-mode-300);
  --secondary-dark-mode: var(--stone-dark-mode-500);
  --secondary-dark-dark-mode: var(--stone-dark-mode-700);
  --secondary-darker-dark-mode: var(--stone-dark-mode-900);

  --error: var(--red-400);
  --warning: var(--yellow-300);
  --success: var(--green-400);
  --success-dark: var(--green-500);
  --fill: var(--gray-300);
  --fill-dark: var(--gray-500);
  --fill-darker: var(--gray-700);
  --stroke: var(--stone-600);
  --stroke-dark: var(--stone-700);
  --stroke-darker: var(--stone-900);
  --border: var(--gray-300);
  --info: var(--blue-400);
  --error-dark-mode: var(--red-dark-mode-400);
  --warning-dark-mode: var(--yellow-dark-mode-300);
  --success-dark-mode: var(--green-dark-mode-400);
  --success-dark-dark-mode: var(--green-dark-mode-500);
  --fill-dark-mode: var(--stone-dark-mode-300);
  --fill-dark-dark-mode: var(--stone-dark-mode-500);
  --fill-darker-dark-mode: var(--stone-dark-mode-700);
  --stroke-dark-mode: var(--stone-dark-mode-600);
  --stroke-dark-dark-mode: var(--stone-dark-mode-700);
  --stroke-darker-dark-mode: var(--stone-dark-mode-900);
  --border-dark-mode: var(--gray-dark-mode-400);
  --info-dark-mode: var(--blue-dark-mode-400);

  --text: var(--gray-700);
  --text-light: var(--gray-300);
  --text-light-plus: var(--gray-400);
  --text-lighter: var(--gray-500);
  --text-secondary: var(--black-secondary);
  --text-high-contrast: var(--saturated-black);
  --text-dark-mode: var(--gray-dark-mode-700);
  --text-light-dark-mode: var(--gray-dark-mode-500);
  --text-light-plus-dark-mode: var(--gray-dark-mode-700);
  --text-lighter-dark-mode: var(--gray-dark-mode-700);
  --text-secondary-dark-mode: var(--white-secondary);

  --selection-background: var(--primary);
  --selection-text: var(--saturated-white);
  --selection-background-dark-mode: var(--primary-dark-mode);
  --selection-text-dark-mode: var(--saturated-white);

  --background-lighter: var(--stone-50);
  --background-light: var(--stone-100);
  --background: var(--stone-200);
  --background-dark: var(--stone-300);
  --background-darker: var(--stone-400);
  --background-lighter-dark-mode: var(--stone-dark-mode-400);
  --background-light-dark-mode: var(--stone-dark-mode-300);
  --background-dark-mode: var(--stone-dark-mode-200);
  --background-dark-dark-mode: var(--stone-dark-mode-100);
  --background-darker-dark-mode: var(--stone-dark-mode-50);
}

@media (prefers-contrast: high) {
  :root {
    --text: var(--text-high-contrast);
    --white: var(--saturated-white);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--text-dark-mode);
    --text-secondary: var(--text-secondary-dark-mode);
    --text-light: var(--text-light-dark-mode);
    --text-light-plus: var(--text-light-plus-dark-mode);
    --text-lighter: var(--text-lighter-dark-mode);

    --background-lighter: var(--background-lighter-dark-mode);
    --background-light: var(--background-light-dark-mode);
    --background: var(--background-dark-mode);
    --background-dark: var(--background-dark-dark-mode);
    --background-darker: var(--background-darker-dark-mode);

    --error: var(--error-dark-mode);
    --warning: var(--warning-dark-mode);
    --success: var(--success-dark-mode);
    --success-dark: var(--success-dark-dark-mode);
    --fill: var(--fill-dark-mode);
    --fill-dark: var(--fill-dark-dark-mode);
    --fill-darker: var(--fill-darker-dark-mode);
    --stroke: var(--stroke-dark-mode);
    --stroke-dark: var(--stroke-dark-dark-mode);
    --stroke-darker: var(--stroke-darker-dark-mode);
    --border: var(--border-dark-mode);
    --info: var(--info-dark-mode);

    --selection-background: var(--selection-background-dark-mode);
    --selection-text: var(--selection-text-dark-mode);

    --primary-lighter: var(--primary-lighter-dark-mode);
    --primary-light: var(--primary-light-dark-mode);
    --primary: var(--primary-dark-mode);
    --primary-dark: var(--primary-dark-dark-mode);
    --primary-darker: var(--primary-darker-dark-mode);
  }
}
