:root {
  --primary-100: #feebf1;
  --primary-200: #fabbd0;
  --primary-300: #f490b1;
  --primary-400: #e76a94;
  --primary-500: #d44a78;
  --primary-600: #b23861;
  --secondary-100: #a8a8a8;
  --secondary-200: #8f8f8f;
  --secondary-300: #757575;
  --secondary-400: #5c5c5c;
  --secondary-500: #424242;
  --secondary-600: #292929;
  --error-100: #ea6c83;
  --error-200: #e54865;
  --error-300: #e02447;
  --error-400: #c51c3b;
  --error-500: #a11730;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-dark-mode-50: #18191a;
  --gray-dark-mode-100: #1f2022;
  --gray-dark-mode-200: #2b2d30;
  --gray-dark-mode-300: #3e4146;
  --gray-dark-mode-400: #646a73;
  --gray-dark-mode-500: #949ca8;
  --gray-dark-mode-600: #bdc3cc;
  --gray-dark-mode-700: #d6d9df;
  --gray-dark-mode-800: #e8e9ed;
  --gray-dark-mode-900: #f0f1f3;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-dark-mode-50: #1f0a0a;
  --red-dark-mode-100: #3e1414;
  --red-dark-mode-200: #5d1e1e;
  --red-dark-mode-300: #7c2828;
  --red-dark-mode-400: #9b3232;
  --red-dark-mode-500: #ba3c3c;
  --red-dark-mode-600: #d94646;
  --red-dark-mode-700: #f65151;
  --red-dark-mode-800: #ff6c6c;
  --red-dark-mode-900: #ff8787;

  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
  --orange-dark-mode-50: #22140a;
  --orange-dark-mode-100: #4b290f;
  --orange-dark-mode-200: #74430f;
  --orange-dark-mode-300: #9d5e0f;
  --orange-dark-mode-400: #c6780f;
  --orange-dark-mode-500: #ea8511;
  --orange-dark-mode-600: #ff9e1e;
  --orange-dark-mode-700: #ffa931;
  --orange-dark-mode-800: #ffb444;
  --orange-dark-mode-900: #ffcb57;

  --yellow-50: #fffbeb;
  --yellow-100: #fef3c7;
  --yellow-200: #fde68a;
  --yellow-300: #fcd34d;
  --yellow-400: #fbbf24;
  --yellow-500: #f59e0b;
  --yellow-600: #d97706;
  --yellow-700: #b45309;
  --yellow-800: #92400e;
  --yellow-900: #78350f;
  --yellow-dark-mode-50: #1f1a11;
  --yellow-dark-mode-100: #3e3623;
  --yellow-dark-mode-200: #5d512f;
  --yellow-dark-mode-300: #7c6d3b;
  --yellow-dark-mode-400: #9b8947;
  --yellow-dark-mode-500: #baa553;
  --yellow-dark-mode-600: #d9c15f;
  --yellow-dark-mode-700: #f8dd6b;
  --yellow-dark-mode-800: #ffea77;
  --yellow-dark-mode-900: #ffe784;

  --green-50: #ecfdf5;
  --green-100: #d1fae5;
  --green-200: #a7f3d0;
  --green-300: #6ee7b7;
  --green-400: #34d399;
  --green-500: #10b981;
  --green-600: #059669;
  --green-700: #047857;
  --green-800: #065f46;
  --green-900: #064e3b;
  --green-dark-mode-50: #142d22;
  --green-dark-mode-100: #185e42;
  --green-dark-mode-200: #1c8e62;
  --green-dark-mode-300: #20bf82;
  --green-dark-mode-400: #24ef9d;
  --green-dark-mode-500: #29ffb7;
  --green-dark-mode-600: #57ffcb;
  --green-dark-mode-700: #84ffd9;
  --green-dark-mode-800: #b1ffe7;
  --green-dark-mode-900: #defff4;

  --teal-50: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;
  --teal-dark-mode-50: #0e1817;
  --teal-dark-mode-100: #1c3330;
  --teal-dark-mode-200: #2a4f4c;
  --teal-dark-mode-300: #387b78;
  --teal-dark-mode-400: #469795;
  --teal-dark-mode-500: #53b3b2;
  --teal-dark-mode-600: #61cfcf;
  --teal-dark-mode-700: #6febeb;
  --teal-dark-mode-800: #7df7f7;
  --teal-dark-mode-900: #8bf3f4;

  --cyan-50: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;
  --cyan-dark-mode-50: #122020;
  --cyan-dark-mode-100: #244040;
  --cyan-dark-mode-200: #375f5f;
  --cyan-dark-mode-300: #4a7e7e;
  --cyan-dark-mode-400: #5c9d9d;
  --cyan-dark-mode-500: #6fafaf;
  --cyan-dark-mode-600: #81cece;
  --cyan-dark-mode-700: #94eded;
  --cyan-dark-mode-800: #a7fcfc;
  --cyan-dark-mode-900: #baebeb;

  --light-blue-50: #f0f9ff;
  --light-blue-100: #e0f2fe;
  --light-blue-200: #bae6fd;
  --light-blue-300: #7dd3fc;
  --light-blue-400: #38bdf8;
  --light-blue-500: #0ea5e9;
  --light-blue-600: #0284c7;
  --light-blue-700: #0369a1;
  --light-blue-800: #075985;
  --light-blue-900: #0c4a6e;
  --light-blue-dark-mode-50: #0c4a6e;
  --light-blue-dark-mode-100: #075985;
  --light-blue-dark-mode-200: #0369a1;
  --light-blue-dark-mode-300: #0284c7;
  --light-blue-dark-mode-400: #0ea5e9;
  --light-blue-dark-mode-500: #38bdf8;
  --light-blue-dark-mode-600: #7dd3fc;
  --light-blue-dark-mode-700: #bae6fd;
  --light-blue-dark-mode-800: #e0f2fe;
  --light-blue-dark-mode-900: #f0f9ff;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-dark-mode-50: #0a1522;
  --blue-dark-mode-100: #0f294b;
  --blue-dark-mode-200: #0f4374;
  --blue-dark-mode-300: #0f5e9d;
  --blue-dark-mode-400: #0f78c6;
  --blue-dark-mode-500: #1185ea;
  --blue-dark-mode-600: #1e9eff;
  --blue-dark-mode-700: #31a9ff;
  --blue-dark-mode-800: #44b4ff;
  --blue-dark-mode-900: #57cbff;

  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --indigo-dark-mode-50: #0d1223;
  --indigo-dark-mode-100: #1f2345;
  --indigo-dark-mode-200: #353b6f;
  --indigo-dark-mode-300: #4d568d;
  --indigo-dark-mode-400: #6871a8;
  --indigo-dark-mode-500: #7f8add;
  --indigo-dark-mode-600: #97a4f8;
  --indigo-dark-mode-700: #aebcfc;
  --indigo-dark-mode-800: #c2d1ff;
  --indigo-dark-mode-900: #d1ddff;

  --purple-50: #f5f3ff;
  --purple-100: #ede9fe;
  --purple-200: #ddd6fe;
  --purple-300: #c4b5fd;
  --purple-400: #a78bfa;
  --purple-500: #8b5cf6;
  --purple-600: #7c3aed;
  --purple-700: #6d28d9;
  --purple-800: #5b21b6;
  --purple-900: #4c1d95;
  --purple-dark-mode-50: #100f1b;
  --purple-dark-mode-100: #221f3a;
  --purple-dark-mode-200: #3b3665;
  --purple-dark-mode-300: #544e8e;
  --purple-dark-mode-400: #6e67b6;
  --purple-dark-mode-500: #856ffa;
  --purple-dark-mode-600: #9c85ff;
  --purple-dark-mode-700: #b39dff;
  --purple-dark-mode-800: #c9b7ff;
  --purple-dark-mode-900: #dbcfff;

  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;
  --pink-dark-mode-50: #1f0a11;
  --pink-dark-mode-100: #3e1423;
  --pink-dark-mode-200: #5d1e34;
  --pink-dark-mode-300: #7c2846;
  --pink-dark-mode-400: #9b3257;
  --pink-dark-mode-500: #ba3c69;
  --pink-dark-mode-600: #d9477b;
  --pink-dark-mode-700: #f6518d;
  --pink-dark-mode-800: #ff6da2;
  --pink-dark-mode-900: #ff87b6;

  --rose-50: #fff1f2;
  --rose-100: #ffe4e6;
  --rose-200: #fecdd3;
  --rose-300: #fda4af;
  --rose-400: #fb7185;
  --rose-500: #f43f5e;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --rose-800: #9f1239;
  --rose-900: #881337;
  --rose-dark-mode-50: #1a0e0f;
  --rose-dark-mode-100: #391d1f;
  --rose-dark-mode-200: #601e28;
  --rose-dark-mode-300: #872431;
  --rose-dark-mode-400: #ae2b3b;
  --rose-dark-mode-500: #d03645;
  --rose-dark-mode-600: #ee4c53;
  --rose-dark-mode-700: #ff6a64;
  --rose-dark-mode-800: #ff8677;
  --rose-dark-mode-900: #ff9c8b;

  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e1e1e0;
  --stone-300: #cccccc;
  --stone-400: #b8b8b7;
  --stone-500: #a4a4a3;
  --stone-600: #90908f;
  --stone-700: #393939;
  --stone-800: #282828;
  --stone-900: #171716;
  --stone-dark-mode-50: #131312;
  --stone-dark-mode-100: #262524;
  --stone-dark-mode-200: #393837;
  --stone-dark-mode-300: #4d4c4a;
  --stone-dark-mode-400: #60605d;
  --stone-dark-mode-500: #737370;
  --stone-dark-mode-600: #868683;
  --stone-dark-mode-700: #999997;
  --stone-dark-mode-800: #acaca9;
  --stone-dark-mode-900: #bfbfbe;

  --black: #0f0f0f;
  --black-secondary: #606060;
  --white: #f1f1f1;
  --white-secondary: #aaaaaa;
  --saturated-black: #000000;
  --saturated-white: #ffffff;

  --primary-lighter: var(--pink-100);
  --primary-light: var(--pink-300);
  --primary: var(--pink-600);
  --primary-dark: var(--pink-700);
  --primary-darker: var(--pink-900);
  --primary-lighter-dark-mode: var(--pink-dark-mode-100);
  --primary-light-dark-mode: var(--pink-dark-mode-300);
  --primary-dark-mode: var(--pink-dark-mode-600);
  --primary-dark-dark-mode: var(--pink-dark-mode-700);
  --primary-darker-dark-mode: var(--pink-dark-mode-900);

  --secondary-lighter: var(--stone-100);
  --secondary-light: var(--stone-300);
  --secondary: var(--stone-500);
  --secondary-dark: var(--stone-700);
  --secondary-darker: var(--stone-900);
  --secondary-lighter-dark-mode: var(--stone-dark-mode-100);
  --secondary-light-dark-mode: var(--stone-dark-mode-300);
  --secondary-dark-mode: var(--stone-dark-mode-500);
  --secondary-dark-dark-mode: var(--stone-dark-mode-700);
  --secondary-darker-dark-mode: var(--stone-dark-mode-900);

  --error: var(--red-400);
  --warning: var(--yellow-300);
  --success: var(--green-500);
  --success-dark: var(--green-700);
  --fill: var(--gray-300);
  --fill-dark: var(--gray-500);
  --fill-darker: var(--gray-700);
  --stroke: var(--stone-600);
  --stroke-dark: var(--stone-700);
  --stroke-darker: var(--stone-900);
  --border: var(--gray-300);
  --info: var(--blue-400);
  --error-dark-mode: var(--red-dark-mode-400);
  --warning-dark-mode: var(--yellow-dark-mode-300);
  --success-dark-mode: var(--green-dark-mode-500);
  --success-dark-dark-mode: var(--green-dark-mode-700);
  --fill-dark-mode: var(--stone-dark-mode-300);
  --fill-dark-dark-mode: var(--stone-dark-mode-500);
  --fill-darker-dark-mode: var(--stone-dark-mode-700);
  --stroke-dark-mode: var(--stone-dark-mode-600);
  --stroke-dark-dark-mode: var(--stone-dark-mode-700);
  --stroke-darker-dark-mode: var(--stone-dark-mode-900);
  --border-dark-mode: var(--gray-dark-mode-400);
  --info-dark-mode: var(--blue-dark-mode-400);

  --text-lighter: var(--gray-300);
  --text-light-plus: var(--gray-400);
  --text-light: var(--gray-500);
  --text: var(--gray-700);
  --text-secondary: var(--black-secondary);
  --text-high-contrast: var(--saturated-black);
  --text-lighter-dark-mode: var(--gray-dark-mode-300);
  --text-light-plus-dark-mode: var(--gray-dark-mode-400);
  --text-light-dark-mode: var(--gray-dark-mode-500);
  --text-dark-mode: var(--gray-dark-mode-700);
  --text-secondary-dark-mode: var(--white-secondary);

  --selection-background: var(--primary);
  --selection-text: var(--saturated-white);
  --selection-background-dark-mode: var(--primary-dark-mode);
  --selection-text-dark-mode: var(--saturated-white);

  --background-lighter: var(--stone-50);
  --background-light: var(--stone-100);
  --background: var(--stone-200);
  --background-dark: var(--stone-300);
  --background-darker: var(--stone-400);
  --background-lighter-dark-mode: var(--stone-dark-mode-400);
  --background-light-dark-mode: var(--stone-dark-mode-300);
  --background-dark-mode: var(--stone-dark-mode-200);
  --background-dark-dark-mode: var(--stone-dark-mode-100);
  --background-darker-dark-mode: var(--stone-dark-mode-50);
}

@media (prefers-contrast: high) {
  :root {
    --text: var(--text-high-contrast);
    --white: var(--saturated-white);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--text-dark-mode);
    --text-secondary: var(--text-secondary-dark-mode);
    --text-light: var(--text-light-dark-mode);
    --text-light-plus: var(--text-light-plus-dark-mode);
    --text-lighter: var(--text-lighter-dark-mode);

    --background-lighter: var(--background-lighter-dark-mode);
    --background-light: var(--background-light-dark-mode);
    --background: var(--background-dark-mode);
    --background-dark: var(--background-dark-dark-mode);
    --background-darker: var(--background-darker-dark-mode);

    --error: var(--error-dark-mode);
    --warning: var(--warning-dark-mode);
    --success: var(--success-dark-mode);
    --success-dark: var(--success-dark-dark-mode);
    --fill: var(--fill-dark-mode);
    --fill-dark: var(--fill-dark-dark-mode);
    --fill-darker: var(--fill-darker-dark-mode);
    --stroke: var(--stroke-dark-mode);
    --stroke-dark: var(--stroke-dark-dark-mode);
    --stroke-darker: var(--stroke-darker-dark-mode);
    --border: var(--border-dark-mode);
    --info: var(--info-dark-mode);

    --selection-background: var(--selection-background-dark-mode);
    --selection-text: var(--selection-text-dark-mode);

    --primary-lighter: var(--primary-lighter-dark-mode);
    --primary-light: var(--primary-light-dark-mode);
    --primary: var(--primary-dark-mode);
    --primary-dark: var(--primary-dark-dark-mode);
    --primary-darker: var(--primary-darker-dark-mode);
  }
}
