/* Atomic CSS */
.w-full {
  width: 100%;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.overline {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.mono {
  font-family: "Sourcer Code Pro", monospace;
}

.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.pt-2 {
  padding-top: 0.625rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.color-primary {
  color: var(--primary);
}

.color-primary-dark {
  color: var(--primary-dark);
}

.bg-color-secondary-light {
  background-color: var(--secondary-light);
}

.bg-color-background-dark {
  background-color: var(--background-dark);
}
