@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --font-primary: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --pink-900: #831843;
  --pink-800: #9d174d;
  --pink-700: #be185d;
  --pink-600: #db2777;
  --pink-500: #ec4899;
  --pink-400: #f472b6;
  --pink-300: #f9a8d4;
  --pink-200: #fbcfe8;
  --pink-100: #fce7f3;
  --pink-50: #fdf2f8;
  --stone-900: #1c1917;
  --stone-800: #292524;
  --stone-700: #44403c;
  --stone-600: #57534e;
  --stone-500: #78716c;
  --stone-400: #a8a29e;
  --stone-300: #d6d3d1;
  --stone-200: #e7e5e4;
  --stone-100: #f5f5f4;
  --stone-50: #fafaf9;
  --red-900: #7f1d1d;
  --red-800: #991b1b;
  --red-700: #b91c1c;
  --red-600: #dc2626;
  --red-500: #ef4444;
  --red-400: #f87171;
  --red-300: #fca5a5;
  --red-200: #fecaca;
  --red-100: #fee2e2;
  --red-50: #fef2f2;
  --yellow-900: #78350f;
  --yellow-800: #92400e;
  --yellow-700: #b45309;
  --yellow-600: #d97706;
  --yellow-500: #f59e0b;
  --yellow-400: #fbbf24;
  --yellow-300: #fcd34d;
  --yellow-200: #fde68a;
  --yellow-100: #fef3c7;
  --yellow-50: #fffbeb;
  --green-900: #09201b;
  --green-800: #1b3c23;
  --green-700: #2a5f38;
  --green-600: #3a824d;
  --green-500: #44c566;
  --green-400: #77e297;
  --green-300: #90e9b9;
  --green-200: #ccfae1;
  --green-100: #e4faed;
  --green-50: #f5fcf8;
  --blue-900: #1e3a8a;
  --blue-800: #1e40af;
  --blue-700: #1d4ed8;
  --blue-600: #2563eb;
  --blue-500: #3b82f6;
  --blue-400: #60a5fa;
  --blue-300: #93c5fd;
  --blue-200: #bfdbfe;
  --blue-100: #dbeafe;
  --blue-50: #eff6ff;
  --black: #171717;
  --white: #ffffff;
  --color-primary-lighter: var(--pink-100);
  --color-primary-light: var(--pink-300);
  --color-primary: var(--pink-600);
  --color-primary-dark: var(--pink-700);
  --color-primary-darker: var(--pink-900);
  --color-secondary-lighter: var(--stone-100);
  --color-secondary-light: var(--stone-300);
  --color-secondary: var(--stone-500);
  --color-secondary-dark: var(--stone-700);
  --color-secondary-darker: var(--stone-900);
  --color-others-error: var(--red-400);
  --color-others-warning: var(--yellow-300);
  --color-others-success: var(--green-400);
  --color-others-info: var(--blue-400);
  --color-others-text: var(--gray-900);
  --background-lighter: var(--white);
  --background-light: var(--gray-50);
  --background: var(--gray-100);
  --background-dark: var(--gray-200);
  --background-darker: var(--gray-300);
}

/* Typography */
body {
  font-family: var(--font-primary);
}

/* SASS */

/* Article */
.article {
  font-size: 18px;
  color: var(--color-others-text);
}

.article h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 32px;
}

.article h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 56px;
  margin-bottom: 24px;
}

.article p {
  margin: 24px 0;
  line-height: 32px;
  font-weight: 300;
}

.article strong {
  font-weight: 600;
}

.article a {
  font-weight: 400;
  color: var(--pink-700);
}

.article li {
  font-weight: 300;
  margin: 18px 0;
  line-height: 32px;
}

.article blockquote {
  margin: 24px 0;
  padding: 16px 18px;
  font-weight: 300;
  line-height: 32px;
  /* border-radius: 8px;
  background-color: #d6d3d1; */
  border-left: 4px solid var(--color-secondary-light);
  /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; */
}

.article figure {
  margin-top: 32px 0;
}

.article figcaption {
  margin-top: 16px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;
}

.article img {
  border-radius: 8px;
}

/* Layouts */
/* Containers */
.container-sm {
  max-width: 640px;
  /* padding-left: 16px; */
  /* padding-right: 16px; */

  /* padding:  y - x */
  padding: 0 16px;

  /* padding: 👆 👉 👇 👈; */
  /* padding: top right bot left */
  /* padding: 0 16px 0 16px; */

  margin: auto;
}

.container,
.container-md {
  max-width: 768px;
  padding: 0 16px;
  margin: auto;
}

/* .container--flex {
  display: flex;
  flex-flow: row wrap;
} */

.container-lg {
  max-width: 1024px;
  padding: 0 16px;
  margin: auto;
}

.container-xl {
  max-width: 1280px;
  padding: 0 16px;
  margin: auto;
}

/* Sections */
.section-sm {
  margin: 32px 0;
}

.section,
.section-md {
  margin: 48px 0;
}

.section-lg {
  margin: 96px 0;
}

.section-xl {
  margin: 144px 0;
}

/* header {
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  padding: 8px 0;
}

footer {
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  background-color: #44403c;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
}
*/
