.about-summary__header,
.about-hobbies__header {
  margin-bottom: 1rem;
  text-align: center;
}

.about-summary__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(340px, 100%), 1fr));
  gap: 2rem;
}

.about-summary__card {
  display: flex;
  /* flex-direction: row; */
  gap: 1rem;
  /* padding: 1rem; */
}

.about-summary__card svg {
  width: 5rem;
  height: 2rem;
  fill: var(--success-dark);
}

.about-hobbies {
  background-color: var(--background-dark);
}

.about-hobbies__content {
  display: grid;
  /* Se rompe en 768 con mas de 229 */
  grid-template-columns: repeat(auto-fill, minmax(min(237px, 100%), 1fr));
  gap: 1rem;
  text-align: center;
}

.about-hobbies__food {
  padding: 0.5rem 0.5rem;
}

.about-hobbies__travel {
  padding: 0.5rem 0.5rem;
}

.about-hobbies__image {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.about-hobbies__paragraph {
  text-align: center;
  padding: 0.625rem 0.5rem;
}
