.calencli-summary,
.features__content,
.calencli-team__members,
.calencli-summary__background-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

.calencli-summary {
  padding: 0;
}

.calencli-summary__content {
  padding-left: 2rem;
  max-width: 502px;
}

.calencli-summary__content p {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}

.calencli-summary__content a {
  max-width: 270px;
}

#calencli-image {
  max-height: 327px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.features,
.calencli-team {
  padding: 0px;
  justify-content: center;
}

.features_header,
.calencli-team__header {
  margin-bottom: 3rem;
}

.features__section {
  max-width: 320px;
}

.calencli-summary__background-icon {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--gray-100);
}

.calencli-summary__background-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--black);
}

.calencli-team__member {
  max-width: 320px;
}

.social-links svg {
  width: 1.125rem;
  height: 1.125rem;
}

.member-name {
  margin-top: 1rem;
  margin-bottom: 0.5625rem;
}

.avatar {
  height: 256px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .calencli-team__header,
  .features_header {
    text-align: center;
  }

  .calencli-summary__content {
    padding-left: 0;
    max-width: 270px;
  }

  #calencli-image {
    max-height: 311px;
  }
}
